{{ form_start(contactForm) }}

                {{ form_row(contactForm.firstname, {'label':'First name*'}) }}
                {{ form_row(contactForm.lastname, {'label':'Last name*'}) }}
                {{ form_row(contactForm.birthday, {'label':'Birthday*'}) }}
                {{ form_row(contactForm.phonenumber, {'label':'Phone number*'}) }}
                {{ form_row(contactForm.address) }}
                {{ form_row(contactForm.isFamily, {'label':'Contact is a family member'}) }}
<p>Fields marked with * are mandatory</p>
<button type="submit" class="btn btn-primary" formnovalidate>Save</button>

{{ form_end(contactForm) }}