{% extends 'base.html.twig' %}

{% block body %}
<h1>List on all contacts</h1>
<!-- {#   <a href="{{ path('contact_info') }}">Json Info</a> #} -->
<!--
<ul>
    {#{% for contact in contacts %} #}
        <li>firstname</li>
        <li>lastname</li>
        <li>phonenumber</li>
        <li>birthday</li>
        <li>address</li>
        <hr>
    {#{% endfor %} #}
</ul>
-->
    <div id="js-contacts-wrapper"></div>

<a href="{{ path('contact_edit') }}">edit, should be at the end of each contact</a>
<a href="{{ path('contact_remove') }}">remove, should be at the end of each contact</a>

<a href="{{ path('contact_index') }}">back to main menu</a>

{% endblock %}
{%  block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

    <script type="text/babel" src="{{ asset('js/contacts.react.js') }}"></script>
    <script type="text/babel">
        var contactsUrl = '{{ path('contact_contacts') }}'
        ReactDOM.render(
                <ContactSection url="{contactsUrl}" />,
            document.getElementById('js-contacts-wrapper')
        );
    </script>
{% endblock %}